*{
	background-color: #e8eaed;
}
header{
	margin-bottom: 0.5rem;
}
header .portada{
	padding: 1rem 2rem 0.5rem 2rem;
}
header .portada img{
	border-radius: 1rem;
	width: 100%;
}
header .main-tittle{
	margin: 0 2rem 0 2rem;
	color: #333;
}
main .texto .subtitulo{
	margin: 0.5rem 2.5rem 1rem 2.5rem;
	color: #333;
}
main .texto .main-text{
	display: flexbox;
	align-items: center;
}
main .texto .main-text ul li{
	margin: 0.5rem 2.5rem 0.5rem 4.5rem;
}
main .texto .main-text p{
	margin: 1rem 3rem 1.5rem 3rem;
	text-align: justify;
}
main .texto .main-text h4{
	margin: 1.3rem 0 1rem 0;
}
main .texto .main-text .a-t{
	margin-left: 3rem;
}
main .texto .main-text .a-c{
	text-align: center;
	margin: 0 3rem 0 3rem;
}
main .texto .main-text .video{
	padding: 0 4.5rem 0 4.5rem;
}
main .texto .main-text .video video{
	width: 100%;
	border-radius: 0.5rem;
}
main .texto .main-text .imagen{
	padding: 0 4.5rem 0 4.5rem;
}
main .texto .main-text .imagen img{
	border-radius: 1rem;
	width: 100%;
}
main .texto .main-text .sec{
	font-size: 0.8rem;
	color: grey;
}
footer{
	padding: 1.5rem;
	background-color: #aad4d8;
}
footer p{
	display: inline-block;
	background-color: #aad4d8;
}
footer .autores{
	text-decoration: underline;
    text-decoration-color: rgb(0, 151, 8);
	text-decoration-thickness: 2px;
}