@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.dropbtn {
	padding: 0.5rem;
	border-radius: 1rem;
	border: none;
	cursor: pointer;
	background-color: #aad4d8;
}
.dropdown {
	position: relative;
	display: inline-block;
	background-color: #aad4d8;
}
  
.dropdown-content {
	border-radius: 1rem; /*? Redondeado de los bordes */
	display: none; /*? Esto hace que no se muestre salvo cuando la clase .show este activada ( esto sucede desde el javascript en myFunction() ) */
	position: absolute; /*? Esto hace que la posicion del div del contenido no agrande el margin/padding del header */
	min-width: 10rem; /*? Es la mínima medida que tendrá el div de contenidos */
	overflow: auto; /*? Esto es para que no aparezca la barrita de scroll y se pueda hacer directamente con el mouse */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*? Box Shadow... */
	z-index: 1; /*? Esto es para que el div de contenidos no se coloque atras del contenido, con el valor 1 lo "traes un poco mas para aca" (? */
}

.dropdown-content a{
	color: black;
	padding: 0.5rem;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #aad4d8;
}
.show {display: block;}
header .menu .revista .titulo-revista{
	background-color: #aad4d8;
	padding: 0.5rem;
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
}
header .menu .buttons a:visited{
	text-decoration: none;
}
header .menu .buttons a:link{
	text-decoration: none;
}
header .menu .buttons a{
	color: black !important;
	text-decoration: none;
}
header .menu{
	text-align: center;
	background-color: #aad4d8;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 1rem;
}
header .menu .buttons{
	background-color: #aad4d8;
	text-align: center;
}
header .menu .btn{
	padding: 0.5rem;
	border-radius: 1rem;
}
*{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e8eaed;
}