@import url(normalize.min.css);
@import url(variables.css);
@import url(fuentes.css);
@import url(header.css);
html {
  background-color: var(--primary-bg);
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--xxxxxl);
  background-color: var(--primary-bg);
  padding: var(--xxxl) var(--xxxl) 0 var(--xxxl);
}
main article {
  box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.51);
  max-width: 370px;
  border: 1.5px solid;
  background-color: var(--secondary-bg);
  border-radius: var(--xl);
  padding: var(--xxxl);
  font-family: Arial, Helvetica, sans-serif;
}
main article .article-img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 0 var(--xxl) 0 var(--xxl);
}
main article .section,
main article .date {
  color: var(--secondary-gray);
  font-size: calc(0.9em);
}
main article a {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: unset;
  gap: var(--l);
  text-decoration: none;
  color: currentColor;
}
main article :visited {
  text-decoration: none;
  color: currentColor;
}
