@media (min-width: 1000px) {
	footer .contacto{
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #aad4d8;
		padding: 1.5rem;
		text-align: center;
	}
}
@media (max-width: 1000px) {
	footer .contacto{
		background-color: #aad4d8;
		padding: 1.5rem;
		text-align: center;
	}
}
footer a{
	color: black;
	border: 2px black dotted;
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: lightgreen;
}
main{
	display: flex !important;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
main .equipo{
	border-radius: 1rem;
	padding: 0.5rem;
	margin: 1rem 1rem 1rem 1rem;
	min-width: 18.75rem;
}
main .equipo h3{
	margin: 0.5rem;
	display: block;
	text-align: center;
	text-decoration: underline solid black;
}
main .equipo p{
	text-align: center;
	display: block;
	margin: 0.5rem;
}
.actualidad-border{
	border: green 2px dotted;
}
.moda-border{
	border: rgb(42, 106, 128) 2px dotted;
}
.cocina-border{
	border: blue 2px dotted;
}
.deportes-border{
	border: red 2px dotted;
}
.entretenimiento-border{
	border: orange 2px dotted;
}