*{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f7ede2;
}
header .seccion{
	margin: 0;
	margin-top: 0.5rem;
	padding-left: 0.5rem;
}
header .container{
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
}
header .container .imagen-portada{
	width: 100%;
	height: auto;
	margin-top: 0.5rem;
	border-radius: 10px;
	border: 1px solid black;
}
header .fecha{
	font-size: 0.9rem;
}
header .portada .main-tittle{
	margin-left: 2rem;
	color: #333;
}
main .texto .subtitulo{
	margin-left: 2.5rem;
	color: #333;
}
main .texto .main-text{
	margin-left: 2.5rem;
}