*{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f7ede2;
}
header .portada{
	display: flexbox;
	align-items: center;
}
header .portada .main-tittle{
	margin-left: 1rem;
	color: #333;
}
main .texto .container{
	display: flexbox;
	align-items: center;
}
main .texto .container .subtitulo{
	margin-left: 1.5rem;
}
main .texto .main-text{
	display: flexbox;
	align-items: center;
}
main .texto .main-text p{
	margin-right: 2rem;
	margin-left: 2rem;
	text-align: justify;
}