*{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e8eaed;
}
header .menu .revista .titulo-revista{
	background-color: #aad4d8;
	padding: 0.5rem;
}
header .menu .buttons a:visited{
	color: black;
	text-decoration: none;
}
header .menu .buttons a:link{
	color: black;
	text-decoration: none;
}
header .menu .buttons a{
	color: black;
	text-decoration: none;
}
header .menu{
	text-align: center;
	background-color: #aad4d8;
	padding: 0.5rem;
}
header .menu .buttons{
	background-color: #aad4d8;
	text-align: center;
}
header .menu .btn{
	padding: 0.5rem;
}
header .portada{
	width: auto;
	display: flexbox;
	justify-content: center;
}
header .portada img{
	border-radius: 5px;
	width: 100%;
	height: auto;
}
header .portada .main-tittle{
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #333;
}
main .texto .container{
	display: flexbox;
	align-items: center;
}
main .texto .container .subtitulo{
	margin-left: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #333;
}
main .texto .main-text{
	display: flexbox;
	align-items: center;
}
main .texto .main-text p{
	margin-right: 2rem;
	margin-left: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: justify;
}