*{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e8eaed;
}
.portada{
	padding: 1rem;
	width: 100%;
}
header .portada img{
	border-radius: 1rem;
	width: 100%;
}
header .main-tittle{
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 0rem;
	color: #333;
}
main .texto .subtitulo{
	margin-left: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	color: #333;
}
main .texto .main-text{
	display: flexbox;
	align-items: center;
}
main .texto .main-text p{
	margin-right: 2rem;
	margin-left: 2rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	text-align: justify;
}
main .texto .main-text h4{
	margin-right: 2rem;
	margin-left: 2rem;
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
	text-align: justify;
}
.actualidad-border{
	border: green 2px dotted;
}
.moda-border{
	border: red 2px dotted;
}
.noticias-border{
	border: blue 2px dotted;
}
.deportes-border{
	border: orange 2px dotted;
}